<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key> RRPPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96E4941B1FB1A78500D1E2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E4942F1FB1A78500D1E2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E4943A1FB1A78500D1E2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
